footer.section {
  background: #212121;
  color: white;
}

footer .sublinks a {
  // font-size: 24px;
  // margin: 3px 9px 15px;
  color: $primary
}

footer ul li {
  list-style-type: none;
}

.footer-list a {
  display: block;
  padding: 5px 0;
  font-size: 16px;
  margin: 8px 0;

  &:hover {
    color: $primary;
  }
}

.social-icons a {
  color: $primary;
  text-align: center;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border: 1px solid $primary;
  border-radius: 50%;
  display: block;
}