section.banner {
    background: url(/images/front/kitchen.jpg) no-repeat 100% fixed;
    color: white;
    padding-top: 0;
    overflow: hidden;
    padding-bottom: 0;
    background-size: cover;
}

.accordion-flush .accordion-item .accordion-button {
    font-size: 1.35rem;
    font-weight: 500;
}

.index-img {
    max-height: 600px;

    &.radius {
        border-radius: 20px;
    }
}


section.features {
    .delivery {
        width: 56px;
        margin-top: -10px;
    }

    .f2-2 {
        font-size: 2.2rem;
    }
}

.f1-375 {
  font-size: 1.375rem;
}

.f1-125 {
  font-size: 1.125rem;
}

section.website {
    overflow: hidden;

    .domain {
        border: 1px solid;
        border-radius: 5px;
        padding: 10px 20px;
        background: #ffecb3;
    
        .locker {
          color: #006400;
        }
      }
}

section.realtime {
    overflow: hidden;
}


section.testimonials {
    figcaption {
      // margin-left: 86px;
    }
  
    .testimonial blockquote {
      // margin: 10px 10px 0;
      // background: #fff;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      // padding: 20px 60px;
      position: relative;
      border: none;
      border-radius: 8px;
      font-style: italic;
    }
    
    .testimonial blockquote:before
     {
      content: "\201C";
      position: absolute;
      font-size: 80px;
      line-height: 1;
      color: #ffc107;
      font-style: normal;
    }
    
    
    .testimonial blockquote:before {
      top: 0;
      left: 10px;
    }
    
    .testimonial div.arrowit {
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #dfdfdf;
      margin: 0 0 0 60px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    .testimonial p {
      margin: 8px 0 0 20px;
      text-align: left;
    }  
  
  }

  section.cto {
    .btn-secondary.action {
        font-size: 1.35rem;
        font-weight: 500;
        padding: 15px 35px;
      }
  }
