section.banner {
    background: url(https://qiosqi.com/img/kitchen.jpg) no-repeat 100% fixed;
    color: white;
    padding-top: 0;
    overflow: hidden;
    padding-bottom: 0;
    background-size: cover;
}