{{ define "main" }}
<div class="wrap container-xxl" role="document">
	<div class="content">
		<div class="row justify-content-center">
			<div class="col-16">
				<h1 class="display-4 yellowtail mt-5 text-center">{{ .Title }}</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-16 col-lg-10">
				<p class="lead f150 my-5 text-center">No hidden fees. Upgrade or downgrade, add or subtract connections,
					and cancel your plan at any time.</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-sm-8 col-lg col-16 mb-5 aos-init aos-animate" data-aos="fade-up">
				<div class="card p-0 p-sm-3">
					<div class="card-body">
						<h2 class="h4 mt-2 text-center">Solo</h2>
						<h3 class="h1 mt-0 d-flex align-items-center justify-content-center">
							<i class="fas fa-euro-sign me-1" style="font-size: 18px; color:#0d6efd"></i>
							<span>0</span>
						</h3>
						<div class="text-center">Free forever<br>for individuals</div>
						<!-- <h2 class="mt-2 text-center">Solo</h2>
						<h5 class="mt-0 text-center">$0, free forever</h5> -->
						<a class="w100 btn btn-secondary btn-lg btn-block mt-4" href="https://apps.qiosqi.com"
							role="button">Get
							Started</a>
						<h6 class="small mt-3">Excelent benefits at zero cost:</h6>
						<ul class="pricing-feature-list mt-4">
							<li>
								<i class="text-success fas fa-check me-2"></i>
								<span>Access to Staff Members, Servers, Chefs, Business owners</span>
							</li>
							<li>
								<i class="text-success fas fa-check me-2"></i>
								<span>All of the core features you need to get started with your digital
									Restaurant</span>
							</li>
							<!-- <li>
								<i class="text-success fas fa-check me-2"></i>
								<span>Build your online website</span>
							</li>
							<li>
								<i class="text-success fas fa-check me-2"></i>
								<span>Enable online Reservation</span>
							</li>
							<li>
								<i class="text-success fas fa-check me-2"></i>
								<span>View, assign and respond to tickets</span>
							</li>

							<li style="color:#6d7383;">
								<i class="text-success fas fa-times me-2"></i>
								<span class="text-muted">Accept online payments</span>
							</li>
							<li style="color:#6d7383;">
								<i class="text-success fas fa-times me-2"></i>
								<span class="text-muted">Register custom domain</span>
							</li> -->
						</ul>
						<div class="text-center">
							<a href="#compare">Learn more</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-8 col-lg col-16 mb-5 aos-init aos-animate" data-aos="fade-up">
				<div class="card p-0 p-sm-3 shadow">
					<div class="card-body">
						<h2 class="h4 mt-2 text-center">Business</h2>
						<h3 class="h1 mt-0 d-flex align-items-center justify-content-center">
							<i class="fas fa-euro-sign me-1" style="font-size: 18px; color:#0d6efd"></i>
							<span>9</span>
						</h3>
						<div class="text-center">Per Member Per Month<br>
							Starting At 5 Members</div>
						<a class="w100 btn btn-secondary btn-lg btn-block mt-4" href="" role="button">Get
							Started</a>
						<h6 class="small mt-3">All the goodness of Solo, and:</h6>
						<ul class="pricing-feature-list mt-4">
							<li>
								<i class="text-success fas fa-check me-2"></i>
								<span>Connect staff members and make teamwork more productive</span>
							</li>

							<li>
								<i class="text-success fas fa-check me-2"></i>
								<span>Enable online payments</span>
							</li>
							<li>
								<i class="text-success fas fa-check me-2"></i>
								<span>Register custom domain</span>
							</li>
						</ul>
						<div class="text-center">
							<a href="#compare">Learn more</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg d-none d-lg-block mb-5 aos-init aos-animate" data-aos="fade-up">
				<div class="card p-0 p-sm-3" style="background: #212121; color: #f5f5f5;">
					<div class="card-body">
						<h2 class="mt-2 text-center">Enterprise</h2>
						<h5 class="mt-0 text-center">Custom Pricing</h5>
						<a class="w100 btn btn-outline-primary btn-lg btn-block mt-4" href="../contact"
							role="button">Contact Sales</a>
						<ul class="pricing-feature-list mt-5">
							<li>
								<i class="text-success fas fa-check me-2"></i>
								<span>Scale out at your size</span>
							</li>
							<li>
								<i class="text-success fas fa-check me-2"></i>
								<span>Connect unlimited staff members</span>
							</li>
							<li>
								<i class="text-success fas fa-check me-2"></i>
								<span>Special requirements</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-16">
				<h3 id="compare" class="compare">Compare Plans</h3>
			</div>
			<div class="col-16">
				<table class="mt-2 table more-details table-borderless text-center">
					<thead>
						<tr>
							<th scope="col" class="tick th">
								<h4 class="h4 features">Features</span>
							</th>
							<th scope="col" class="tick th">
								<h4 class="h4">Solo</h4>
							</th>
							<th scope="col" class="tick th">
								<h4 class="h4">Business</h4>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th class="tock aside top" scope="row">Staff</th>
							<td class="tock"></td>
							<td class="tock"></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Members</th>
							<td class="tock">1</td>
							<td class="tock">
								Starting at 5
							</td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Max Members</th>
							<td class="tock">1</td>
							<td class="tock">
								<i class="text-success fas fa-infinity"></i>
							</td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Give Permissions</th>
							<td class="tock">Business Owner</td>
							<td class="tock">Advanced (Chefs, Servers, Co-Owners)</td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Access to Network</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Get Notifications</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tick aside" scope="row">Devices Sync</th>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr>
							<th class="tock aside top" scope="row">Orders</th>
							<td class="tock"></td>
							<td class="tock"></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Taken by Staff</th>
							<td class="tock"><i class="text-success fas fa-infinity"></i></td>
							<td class="tock"><i class="text-success fas fa-infinity"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Taken Online by Customers</th>
							<td class="tock"><i class="text-success fas fa-infinity"></i></td>
							<td class="tock"><i class="text-success fas fa-infinity"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Taken by QR</th>
							<td class="tock"><i class="text-success fas fa-infinity"></i></td>
							<td class="tock"><i class="text-success fas fa-infinity"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Workflow Management</th>
							<td class="tock"><i class="text-success fas fa-infinity"></i></td>
							<td class="tock"><i class="text-success fas fa-infinity"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Closing Date</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Generate Receipt</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">History</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tick aside" scope="row">Search</th>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
						</tr>

						<tr>
							<th class="tock aside top" scope="row">Customizable Menu</th>
							<td class="tock"></td>
							<td class="tock"></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Pictures</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">TVA %</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Advanced Material-options</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Stock</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tick aside" scope="row">Multi-Languages</th>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr>
						<tr>
							<th class="tock aside top" scope="row">Discounts</th>
							<td class="tock"></td>
							<td class="tock"></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Specific Items or Categories</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Buy X, Get 1</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tick aside" scope="row">Combo Deals</th>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr>
							<th class="tock aside top" scope="row">Reservations</th>
							<td class="tock"></td>
							<td class="tock"></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Taken by Staff</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Taken Online by Customers</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Advanced View</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tick aside" scope="row">Auto Management</th>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tick aside" scope="row">Self-Service QR</th>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr>
							<th class="tock aside top" scope="row">Website</th>
							<td class="tock"></td>
							<td class="tock"></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Create Custom</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Domain</th>
							<td class="tock">Subdomain *.qiosqi.website</td>
							<td class="tock">Your Custom Domain</td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Security Certificate</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Payments</th>
							<td class="tock">Cash Only</td>
							<td class="tock">Online Card payments</td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Social</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tick aside" scope="row">Google Analytics</th>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
						</tr>



						<tr>
							<th class="tock aside top" scope="row">More...</th>
							<td class="tock"></td>
							<td class="tock"></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Vacation Mode</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Delivery Zones & Charges</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Real Time Stats</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tock aside" scope="row">Performance Stats</th>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
							<td class="tock"><i class="text-success fas fa-check"></i></td>
						</tr>
						<tr class="spot">
							<th class="tick aside" scope="row">Customers Data</th>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
							<td class="tick"><i class="text-success fas fa-check"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{{ end }}