<footer class="section pb-0 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-8 col-lg-4 mb-5">
        <a class="d-block mb-3" href="{{ site.BaseURL }}"><img class="img-fluid" src="{{ site.Params.logoLight | relURL }}" alt="{{ site.Title }}" width="150"></a>
        <p class="mb-4"><div>Restaurants Full Service.</div> <div>Give your team tools to stay in sync. </div> <div>Give your customers a perfect meal.</div></p>
      </div>
      <div class="col-8 col-lg-4 mb-5 sublinks">
        <div class="h5 mb-3">Product</div>
        <ul class="px-0">
          <li><a href="/docs/prologue/introduction/">Documentation</a></li>
          <li><a href="/pricing/">Pricing</a></li>
          <li><a href="/terms/">Terms & Conditions</a></li>
          <li><a href="/privacy/">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-8 col-lg-4 mb-5 sublinks">
        <div class="h5 mb-3">Why Us?</div>
        <ul class="px-0">
          <li><a href="/whyus/compare/wix/">vs. Wix</a></li>
          <li><a href="/whyus/compare/square/">vs. Square</a></li>
          <li><a href="/whyus/compare/gloriafood/">vs. Gloriafood</a></li>
          <li><a href="/whyus/compare/uber-eats/">vs. Uber Eats</a></li>
        </ul>
      </div>
      <div class="col-8 col-lg-4 mb-5 sublinks">
        <div class="h5 mb-3">Company</div>
        <ul class="px-0">
          <li><a href="/about/">About</a></li>
          <li><a href="/careers/">Careers</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
      </div>

    </div>
    
    <div class="border-top border-default pt-3 d-flex justify-content-between">
      <ul class="list-inline social-icons m-0">
        {{ range site.Menus.social }}
        <li class="list-inline-item mb-3"><a href="{{ .URL | safeURL }}"><i class="fab fa-{{ .Name }}"></i></a></li>
        {{ end }}
      </ul>
      <div class="pt-1">{{ site.Params.Copyright | markdownify }}</div>
    </div>
  </div>
</footer>